.vscode
.vs
.gradle
.idea
__pycache__
keystore
node_modules
Release
Debug
x64
vs
SDL*
[Bb]uild/
[Bb]uild-*/
android/app/jni/src/*.c
android/app/jni/src/cpu
android/app/jni/src/emscripten
android/app/jni/src/hardware
android/app/jni/src/host
android/app/jni/src/kvm
android/app/src/main/java/org/libsdl/app
android/app/src/main/assets/*
*.o
*.a
*.exe
*.apk
*.dll
*.zip
*.rar
*.7z
*.tar
*.gz
*.xz
*.img
*.iso
*.flp
*.stackdump
*.tmp
*.old
*.bat
test*.conf
# seabios.bin
# seavgabios.bin
# et4000.bin
# 86c764x1.bin
halfix