.vscode
.vs
__pycache__
node_modules
Release
Debug
x64
vs
[Bb]uild/
[Bb]uild-*/
*.o
*.a
*.exe
*.apk
*.dll
*.zip
*.rar
*.7z
*.tar
*.gz
*.xz
*.img
*.iso
*.flp
*.stackdump
*.tmp
*.old
*.bat
test*.conf
seabios.bin
seavgabios.bin
et4000.bin
86c764x1.bin
halfix